#message {
    position: absolute;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    line-height: 20px;
    transition: opacity 1s ease-in-out;
}

.hidden {
    pointer-events: none;
    opacity: 0;
}

.visible {
    opacity: 1;
}