#musicPlayer {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 40%;
    padding-top: 5%;
    transform: translate(50%, 0px);
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
}

#musicPlayer>* {
    border-radius: 50%;
    aspect-ratio: 1/1;
}