#musicPlayer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 0px;
    width: 15vw;
    padding-top: 50px;
    transform: translate(50%, 0px);
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    transition: all;
}

.icon-button:disabled>svg {
    fill: #e0e0e0;
}

#musicPlayer img {
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.cover-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
}

.cover-image>img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.tiny-text {
    font-size: 0.75rem;
    opacity: 0.38;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.widget {
    padding: 20px;
    padding-top: 40px;
    border-radius: 16px;
    width: 343px;
    max-width: '100%';
    margin: auto;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
}