#themes {
    position: absolute;
    padding: 30px 15px 15px 15px;
    min-width: 200px;
    max-width: 50px;
}

select {
    width: 100%;
    color: black;
    text-align: center;
    border-radius: 10px;
    border: none;
    padding: 3px;
}