#todolist {
  position: absolute;
  padding-top: 30px;
}

.to-do-list input[type='text'] {
  padding: 5px;
  font-size: 1.1em;
  margin: 10px;
  width: 60%;
}

.to-do-list button {
  padding: 5px 10px;
  font-size: 1.1em;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

.to-do-list ul {
  list-style-type: none;
  padding: 0;
}

.to-do-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.to-do-list li.checked {
  background-color: #e0e0e0;
  color: #999999;
  text-decoration: line-through;
}

.to-do-list li input[type='checkbox'] {
  margin-right: 10px;
}