.App {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 4px;
}

input {
  padding: 5px;
  font-size: 1.1em;
  margin: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1.1em;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

h2 {
  font-size: 1.5em;
  color: #007bff;
}

.App.dark-mode {
  background-color: #333;
  color: #f0f0f0;
}

.App.dark-mode button {
  background-color: #444;
  color: #f0f0f0;
}

.App.dark-mode .to-do-list li {
  background-color: #444;
  color: #f0f0f0;
}

.App.dark-mode .to-do-list li.checked {
  background-color: #555;
  color: #999999;
}

.App.dark-mode .to-do-list li input[type='checkbox'] {
  color: #f0f0f0;
}

.dark-mode-toggle {
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 20px;
}

.App.dark-mode .dark-mode-toggle {
  color: #f0f0f0;
}