#todolist {
  position: absolute;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.to-do-list input[type='text'] {
  padding: 5px;
  font-size: 1.1em;
  margin: 10px;
  width: 60%;
}

.to-do-list button {
  padding: 5px 10px;
  font-size: 1.1em;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

.to-do-list ul {
  list-style-type: none;
  padding: 0;
}

.to-do-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.to-do-list li.checked {
  background-color: #e0e0e0;
  color: #999999;
  text-decoration: line-through;
}

.to-do-list li input[type='checkbox'] {
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.item-text {
  flex-grow: 1;
}

.trash-button {
  margin-left: auto;
}

.checkbox-container {
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 20px;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.checkbox-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-custom::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-custom::after {
  content: '\2713';
  font-size: 16px;
  color: #007bff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.checkbox-container input[type="checkbox"]:checked+.checkbox-custom::after {
  opacity: 1;
}